#Register_ImageLogo{
    position: absolute;
    width: 1200px;
    margin-top: 15%;
    margin-left: 28%;
    z-index: 400;
}
#Register_ImageLogoContainer{
   position: absolute;
   margin-top: 50px;
   margin-left: 70px;
    width: 200px;
}

#Register_Background{
    position: absolute;
    background-color: #FFF159;
    margin-left: 20%;
    border-left: 1px solid rgb(158, 158, 158);
    width: 80%;
    height: 100%;
}
#Register_BackgroundOpacity{
    position: absolute;
    background-color: #0c0c0c;
    opacity: 2%;
    margin-left: 20%;
    width: 80%;
    height: 100%;
}

@media only screen and (max-width: 575px){
    #Register_ImageLogo{
        width: 60px;
        display: none;
    }
    #Register_Background{
   display: none;
    }
    #Register_ImageLogoContainer{
        position: absolute;
        margin-top: 50px;
        margin-left: 70px;
         width: 200px;
     }
     #Register_BackgroundOpacity{
       display: none;
    }

}