#OrderHome_ContentOrder{
    width: 56%;
    height: auto; 
    position: relative;
    left: 20%; 
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
}

@media only screen and (max-width: 575px){
    #OrderHome_ContentOrder{
        width: 100%;
        height: auto; 
        position: relative;
        left: 0%; 
        background-color: rgb(255, 255, 255);
        margin-top: 30px;
    }

}