#CardProduct_Container{
    width: 224px;
    height: 315px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: block;
    margin-left: 15px;
}

#CardProduct_Container:hover{
    transition: .5s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#CardProduct_ImagesContainer{
    border-bottom: 1px solid rgb(196, 195, 195);
}

#CardProduct_Images{
    width: 225px;
    height: 200px;

}
#CardProducts_PriceContainer{
    display: flex;
    height: 55px;
    margin-bottom: 0;
}
#CardProduct_Price{
    color: black;
    padding-top: 10px;
    padding-left: 15px;
    font-weight: bolder;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
}
#CardProduct_PriceOffert{
    padding-left: 17px;
    color: rgb(26, 145, 26);
    padding-top: 20px;
    font-weight: bolder;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
}
#CardProduct_PriceInInstallments{
    color: black;
    padding-left: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    margin-bottom: 0;
}
#CardProduct_FreeShip{
    color: rgb(26, 145, 26);
    padding-left: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}


#CardProduct_Link{
    text-decoration: none;
    width: 224px;
    background-color: aqua;
}