#navbar_content{
    display: flex;
    background-color:#FFF159;
    width: 100%;
    height: 100px;
}

#MELI_logo{
    width: 140px;
}
#Meli_LogoContent{
    position: relative;
    left: 19%;
}
#searchbox_container{
    background-color: white;
    border-radius: 2%;
    width: 620px;
    height: 38px;
    margin-top: 15px;
    position: relative;
    left: 20%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#searchbox_button{
    color: gray;
    margin-left: 12px;
    z-index: +5;
}
#searchbox_navbar{
    border-top: white;
    border-left: white;
    border-bottom: white;
    border-right: 1px solid rgb(206, 203, 203);
    width: 578px;
    height: 36px;
}
::placeholder{
    opacity: 80%;
    padding-left: 10px;
     font-size: 15px;
     font-family: 'Source Sans Pro', sans-serif;
}

#landing_listContainer{
    margin-top: 70px;
    position: absolute;
    left: 25%;
    display: flex;
    width: 500px;
    border-style: none;
    text-decoration: none;
    list-style: none;
}

.landing_subItem{
    padding-left: 20px;
    font-size: 15px;
    font-weight: 500;
}
.landing_subItemLink{
    text-decoration: none;
    color:rgb(34, 33, 33);
    font-family: 'Source Sans Pro', sans-serif;
}
#navbar_content #landing_desple{
display:none;
}


#navbar_content #landing_listContainer .landing_subItem #landing_desple{
text-decoration: none;
list-style: none;
}
#navbar_content #landing_listContainer .landing_subItem #landing_desple a{
 text-decoration: none;
 list-style: none;
 color: rgb(255, 255, 255);
 font-size: 15px;
margin-bottom: 15px;
}

#navbar_content #landing_listContainer .landing_subItem #landing_desple a:hover{
    text-decoration: none;
    background-color: #3483FA;
    font-size: 15px;
   margin-bottom: 15px;
   width: 110px;
   z-index: +300;
   }

.landing_despleDiv{
    margin-top:8px;
}

#navbar_content #landing_listContainer .landing_subItem:hover #landing_desple{
    position: absolute;
    border-radius: 3%;
    background-color: #333333;
    width: 150px;
    height: 200px;
    z-index: +200;
    display: flex;
}

.landing_subItemLink:hover{
    font-weight: bold;
    color:black;
}


#navbar_listAuth-Cart{
    margin-top: 70px;
    position: absolute;
    left: 60%;
    display: flex;
    width: 500px;
    border-style: none;
    text-decoration: none;
    list-style: none;
    color:black
}
#navbar_cart{
    color: rgb(78, 78, 78);
    font-size: 16px;
}
#navbar_cart:hover{
    color: rgb(34, 34, 34);
    font-size: 16px;
}
#SubItem_ArrowDownIcon{
    font-size: 10px;
    color: rgb(186, 186, 186);
}
.navbar_subItemLink{
    text-decoration: none;  
    color:rgb(67, 66, 66);
    font-family: 'Source Sans Pro', sans-serif;
}
.navbar_subItemLink:hover{
     color:black;
    font-family: 'Source Sans Pro', sans-serif;
}


.landing_subItemCart{
    padding-left: 15px;
    font-size: 14px;
  font-weight: 600;
}
#navbar_enviosContainerButton{
    display: flex;
    text-decoration: none;
}
#envios_parrafo{
    font-size: 12px;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
}
#envios_parrafoSpan{
    font-size: 13px;
    font-weight: bolder;
}
#navbar_envios{
    margin-top:59px;
    position: absolute;
    left: 20%;
    font-size: 15px;
    display: flex;
    width: 100px;
    border-style: none;
    text-decoration: none;
    list-style: none;
    color:black
}
#navbar_enviosFlecha{
    margin-top:10px;
    margin-right: 5px;
    color: black;
}
