#Register_ImageLogo{
    position: absolute;
    width: 65%;
    margin-top: 15%;
    margin-left: 28%;
    z-index: 400;

}
#Register_ImageLogoContainer{
   position: absolute;
   margin-top: 50px;
   margin-left: 70px;
    width: 200px;
}
#Register_H1{
    position: absolute;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 2%;
    font-size: 34px;
    margin-top: 7%;
}
#Register_h2Container{
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 10%;
    color: #313131;
    font-weight: bolder;
    margin-top: 5%;
    font-size: 20px;
}
#Register_pContainer{
    font-family: 'Source Sans Pro', sans-serif;
    width: 250px;
    margin-left: 10%;
    color: #a09e9e;
    font-weight: bolder;
    font-size: 13px;
}


#Register_LinkButtonSubItem{
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    border-style: none;
    border-radius: 8%;
    margin-top: 3px;
    margin-left: 35%;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    background-color: #3483FA;
}

.Form_validateLabel{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
}

#Register_FormikSubmitButton{
    text-decoration: none;
    width: 180px;
    border-radius: 4%;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    border-style: none;
    font-weight: bolder;
    font-size: 16px;
    background-color: #3483FA;
    box-shadow: rgba(140, 138, 138, 0.1) 0px 4px 12px;
    margin-top: 15px;
}
#Register_FormikSubmitButton:hover{
    color: white;
    background-color: #1753ae;
}
#email{
    border-radius: 2px;
    border: 1px solid rgb(138, 137, 137);
    font-family: 'Source Sans Pro', sans-serif;
    box-shadow: rgba(140, 138, 138, 0.1) 0px 4px 12px;
    margin-top: 5px;
    height: 30px;
}

#cellphone{
    border-radius: 2%;
    border: 1px solid rgb(138, 137, 137);
    box-shadow: rgba(140, 138, 138, 0.1) 0px 4px 12px;
    margin-top: 5px;
    height: 30px;
    font-family: 'Source Sans Pro', sans-serif;
}

#password{
    border-radius: 2px;
    border: 1px solid rgb(138, 137, 137);
    box-shadow: rgba(140, 138, 138, 0.1) 0px 4px 12px;
    margin-top: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    height: 30px;
}
#Register_LinkToLogin{
    left: 13%;
    position: absolute;
    width: 300px;
    margin-top: 50px;
}

#dni{
    border-radius: 2px;
    border: 1px solid rgb(138, 137, 137);
    box-shadow: rgba(140, 138, 138, 0.1) 0px 4px 12px;
    margin-top: 4px;
    height: 30px;
    font-family: 'Source Sans Pro', sans-serif;
}
#Register_BackgroundOpacity{
    position: absolute;
    background-color: #0c0c0c;
    opacity: 2%;
    margin-left: 20%;
    width: 80%;
    height: 100%;
}

#Register_ButtonsToRegisterContainer{
    position: absolute; 
    border-radius: 2%;
    box-shadow: rgba(140, 138, 138, 0.1) 0px 4px 12px;
    border: 1px solid rgb(209, 209, 209);
    margin-left: 40px;
    margin-top: 200px;
    width: 300px;
    height: 500px;
    background-color: white;
}