#Products_FormikContainer{
    background-color: rgb(253, 253, 253);
    border-radius: 1%;
    position: absolute;
    width: 400px;
    margin-top: 110px;
    height: auto;
    left: 37%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.Form_MainvalidateLabel{
    margin-top: 2%;
    
    margin-left: 18%;
    width: 60%;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
}
#Form_email{
    margin-left: 18%;
    height: 40px;
    width: 60%;
    border-bottom: 2px solid #3483FA;
    border-top: 1px solid rgb(255, 255, 255);
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
}

.Form_errorsYupContentProducts{
    margin-top: 5px;
    background-color: #f8d9d9;
    border-left: 2px solid red;
    height: 40px;
    width: 60%;
    margin-left: 18%;
}
.Form_errorsYupProducts{
    margin-left: 10px;
    padding-left: 2px;
    padding-top: 5px;
    color: rgb(199, 34, 34);
    font-weight: bolder;
}

#Form_brand{
    margin-left: 18%;
    height: 40px;
    width: 60%;
    border-bottom: 2px solid #3483FA;
    border-top: 1px solid rgb(255, 255, 255);
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
}

#Form_description{
    margin-left: 18%;
    height: 40px;
    width: 60%;
    border-bottom: 2px solid #3483FA;
    border-top: 1px solid rgb(255, 255, 255);
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
}
#Form_stock{
    margin-left: 18%;
    height: 40px;
    width: 60%;
    border-bottom: 2px solid #3483FA;
    border-top: 1px solid rgb(255, 255, 255);
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
}
#Form_price{
    margin-left: 18%;
    height: 40px;
    width: 60%;
    border-bottom: 2px solid #3483FA;
    border-top: 1px solid rgb(255, 255, 255);
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
}


#Form_FormikSubmitButton{
    height: 40px;
    text-decoration: none;
    width: 180px;
    border-radius: 4%;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    border-style: none;
    font-weight: bolder;
    font-size: 16px;
    background-color: #3483FA;
    box-shadow: rgba(140, 138, 138, 0.1) 0px 4px 12px;
    margin-top: 15px;
    margin-left: 25%;
}