#History_H1{
    width: 500px;
    margin-left: 20%;
    margin-top: 100px;
}

#History_ProductsHistory{
    display: flex;
    flex-wrap: wrap;
    width: 56%;
    margin-left: 19%;
    padding-top: 30PX;
    height: auto;
}
#History_ProductWithoutHistory{
    width: 1100px;
    text-align: center;
    
    margin-left: 2%;
    padding-top: 30PX;
    background-color: rgb(255, 255, 255);
    height: auto;
}
#History_ProductWithoutHistory h2{
    padding-bottom: 30px;
}