#h2_productosHome{
    position: relative;
    margin-top: 60px;
    width:300px;
    font-family: 'Source Sans Pro', sans-serif;
    left: 15%;
}
#CardProducts_ContainerFlex{
  position: relative;
  display: flex;
  left: 15%;
  width:75%;
}

#Div_ProductosHome{
  position: relative;
  left: 16.2%;
  margin-top: 50px;
  width:  1210px;
  height: 100px;
  background-color: aqua;
  background-position: 0%;
  background-image: url('../globalImages/sgsdgsd.jpg');
  background-size: cover;
}
#Div_ProductosHome:hover{
 cursor: pointer;
}

#Categories_ProductosHome{
  display: grid;
  position: relative;
  left: 16%;
  margin-top: 50px;
  grid-template-columns: 30% 17% 30% 17%;
  grid-column-gap: 24px;
  grid-template-rows: 85%;
  width:  1215px;
  height: 300px;
}


.Categories_SubProductosHome{
  display: flex;
  border-radius: 2%;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(218, 218, 218);
}
.Categories_SubProductosHome2{
  display: block;
  border-radius: 2%;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(218, 218, 218);
}

#Categories_SubProductImg{
  width: 50%;
  height: 100%;
}
#Categories_Img{
  width: 100%;
  margin-top: 30%;
}

#Categories_SubProductImg3{
  width: 70%;
  height: 100%;
}
#Categories_Img3{
  width:70%;
  margin-left: 10%;
  margin-top: 20%;
}


#Categories_Img4{
  width: 60%;
  margin-left: 20%;
  margin-top: 10px;
  margin-bottom: 20px
}

#Categories_StrechSubProductImg{
  width: 100%;
}
#Categories_Img2{
  width: 100%;
}

#Categories_SubProductTitle2{
  margin-left: 30%;
}
#Categories_SubProductTitlee2{
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: 0;
}
#Categories_SubProductOffer2{
  font-size: 20px;
 margin-bottom: 0;
  font-weight: bolder;
}

#Categories_SubProductTitle{
  font-weight: 400;
  text-align: center;
    width: 50%;
    height: 100%;
}

.Categories_Link{
  text-decoration: none;
  color: black;
}
.Categories_Link:hover{
  text-decoration: none;
  color: black;
}


#Categories_SubProductTitlee{
  margin-top: 40%;
  margin-bottom: 5px;
  font-size: 20px;
}

#Categories_SubProductOffer{
  margin-bottom: 5px;
  font-size: 27px;
  font-weight: bolder;
}

@media only screen and (max-width: 575px){
  #CardProducts_ContainerFlex{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    left: 10%;
    width:75%;
  }
  
  #h2_productosHome{
    position: relative;
    margin-top: 60px;
    width:70%;
    font-family: 'Source Sans Pro', sans-serif;
    left: 15%;
}

  .Categories_SubProductosHome{
    display: flex;
    border-radius: 2%;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(218, 218, 218);
  }

  #Div_ProductosHome{
    position: relative;
    left: 0%;
    margin-top: 50px;
    width: 100%;
    height: 100px;
    background-position: 40%;
    background-image: url('../globalImages/sgsdgsd.jpg');
    background-size: cover;
  }

  #Categories_ProductosHome{
    display: flex;
    left: 0%;
    margin-top: 50px;
    flex-wrap: wrap;
    width:  100%;
    margin-bottom: 20px;
    height: auto;
  }
}
