#CardProductID_Container{
    width: auto;
    height: auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: grid;
    grid-template-columns: 600px 400px;
    grid-template-rows: 400px 300px;
    border-radius: 1%;
    margin-top: 100px;
    margin-left: 6.5%;
}

#CardProductID_Container:hover #CardProductID_Link #CardProductID_Price{
    transition: .5s;  
    padding-top: 25px;
}
#CardProductID_Container:hover #CardProductID_Link #CardProductID_PriceOffert{
    transition: .5s;  
    padding-top: 35px;
}
#CardProductID_Container:hover #CardProductID_Link #CardProductID_PriceInInstallments{
    transition: .5s;  
    padding-top: 12px;
}

#CardProductID_ImagesContainer{
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: 93%;
    margin-left: 100px;
    border-bottom: 1px solid rgb(196, 195, 195);
}

#CardProductID_Images{
    width: 100%;
    height: 100%;
    margin: 0;
}
#CardProductsID_PriceContainer{
    margin-top: 4.5%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
    color: rgb(67, 65, 65);
    border-radius: 2%;
    border: 1px solid rgb(225, 222, 222);
    width: 80%;
    display: block;
    background-color: rgb(255, 255, 255);
    margin-left: 10%;
    height: 93%;
    margin-bottom: 0;
}

#CardProductID_PriceTotal{
    padding-left: 12%;
    margin-bottom: 0px;
    color: rgb(165, 163, 163);
    text-decoration: line-through;
}
#CardProductsID_FinalPrice{
    margin-top: 10%;
    margin-bottom: 0;
    width: 75%;
    margin-left: 7%;
    font-size: 30px;
color: rgb(0, 0, 0);

}

#CardProductID_Offer{
    padding-left: 10px;
    color: rgb(27, 192, 27);
    padding-top: 10px;
}

#CardProductID_Name{
    color: rgb(130, 128, 128);
    padding-left: 20px;
    padding-top: 10px;
}
#CardProduct_PricesContent{
    display: flex;
}
#CardProductID_Price{
    color: rgb(53, 53, 53);
    width:auto;
    padding-left: 20px;
    font-weight: bolder;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
}
#CardProductID_PriceOffert{
    padding-left: 19px;
    color: rgb(27, 192, 27);
    padding-top: 20px;
    font-weight: bolder;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
}
#CardProductID_PriceInInstallments{
    color: rgb(38, 37, 37);
    padding-left: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 0;
}
#CardProductID_FreeShip{
    color: rgb(29, 174, 29);
    font-weight: bold;
    padding-left: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    margin-bottom: 0;
}

#CardProductID_pReserve{
    margin-top: 15px;
    color: rgb(116, 115, 115);
    padding-left: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    margin-bottom: 0;
}

#CardProductID_Link{
    text-decoration: none;
    width: 224px;
}

#CardProductsID_Submit{
    margin-top: 10px;
    margin-left: 5%;
    width: 120px;
    height: 40px;
    border-radius: 7%;
    border: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: white;
    background-color: #3483FA;
}

#CardProductsID_Reserve{
    width: 120px;
    height: 40px;
    border-radius: 7%;
    margin-left: 2%;
    border: white;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 18px;
    background-color: #3483FA;
}

#CardProductID_UserContentent{
    border: 1px solid rgb(210, 209, 209);
    margin-top: 5%;
    border-radius: 2%;
    width: 80%;
     margin-left: 10%;
}
    
#CardProductID_UserContentP{
    padding-top: 12px;
    padding-left: 5%;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: bolder;
}
#CardProductID_UserContentUserName{
    margin-top: 0;
    font-size: 18px;
    padding-left: 5%;
    font-weight: bolder;
}
#CardProductID_Title{
    padding-top: 10px;
    font-size: 19px;
    margin-left: 16%;
    font-weight: bolder;
}

#CardProductID_DescriptionContainer{
    width: 81%;
    margin-left: 16%;
    height: auto;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 2%;
}
#CardProductID_DescriptionTitle{
    font-weight: 500;
    font-size: 20px;
    padding-left: 10px;
}

#CardProductID_Description{
    font-size: 18px;
    padding-left: 10px;
}
#UserContent_NameContent{
    margin-left: 2%;
    width: 150px;
}
#UserContent_CellphoneContent{
    margin-left: 2%;
    width: 150px;
}
#UserContent_CalendarContent{
    margin-left: 2%;
    width: 220px;
}


#CardProductID_ContentFlex{
    display: flex;
    justify-content: start;
    position: relative;
    left: 16%;
    width: 81%;
    height: 70%;
}


#Crud_Edit{
    background: none;
    border: none;
    color: rgb(21, 62, 210);
}
#Crud_Delete{
    background: none;
    border: none;
    color: red;
}

.Crud_Buttons{
    font-size: 22px;
}

#CardProduct_QuantityContent{
    display: flex;
    margin-left: 5%;
    border-radius:2%;
    width: 80%;
    justify-content: space-around;
}

.CardProduct_QuantityButton{
    margin-top: 3px;
    border-radius: 10%;
    border: none;
    background-color: #3483FA;
    color: white;
    font-size: 30px;
    width: 50px;
    height:50px;
}

#CardProduct_QuantityState{
    margin-top: 10px;
    font-size: 20px;
}



@media only screen and (max-width: 575px){
    #CardProductID_Container{
        width: 100%;
        height:auto;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        display: flex;
        flex-wrap: wrap;
        border-radius: 1%;
        margin-top: 100px;
        margin-left: 0%;
    }
    #CardProductID_ImagesContainer{
        margin-top: 5px;
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 40%;
        margin-left: 0px;
        border-bottom: 1px solid rgb(196, 195, 195);
    }
    #CardProducts_ContainerFlex{
    left: 0;
    width: 100%;
    }

    #CardProductsID_PriceContainer{
        margin-top: 0%;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: bolder;
        color: rgb(67, 65, 65);
        border-radius: 0.5%;
        border: 1px solid rgb(225, 222, 222);
        width: 100%;
        display: block;
        background-color: rgb(255, 255, 255);
        margin-left: 0%;
        height: auto;
        margin-bottom: 0;
    }

    #CardProductID_ContentFlex{
        display: none;
    }
    
    #CardProductID_UserContentP{
        padding-top: 12px;
        padding-left: 10%;
        font-size: 22px;
        letter-spacing: 1px;
    }
    #CardProductID_UserContentUserName{
        margin-top: 20PX;
        padding-left: 10%;
        font-size: 18px;
    }
    #CardProductID_Title{
        padding-top: 10px;
        font-size: 19px;
        margin-left: 16%;
        display: none;
    }
}


::placeholder{
    color: black;
    font-weight: bolder;
}